<table class="w-full">
  <tr>
    <td class="py-4 bg-white">
      <table class="w-full">
        <tr>
          <td class="px-4 w-1/3">
            <a href="#">
              <img src="https://picsum.photos/300/200" class="w-[180px]" />
            </a>
          </td>
          <td class="px-4 w-1/3">
            <a href="#">
              <img src="https://picsum.photos/300/200" class="w-[180px]" />
            </a>
          </td>
          <td class="px-4 w-1/3">
            <a href="#">
              <img src="https://picsum.photos/300/200" class="w-[180px]" />
            </a>
          </td>
        </tr>

        <td class="px-4 py-2 text-center"><b>PowerBox 3000</b></td>
        <td class="px-4 py-2 text-center"><b>Zestaw Startowy Eco+</b></td>
        <td class="px-4 py-2 text-center"><b>P800+</b></td>
        <tr>
          <td class="px-4 py-2 align-top">
            <hr />
            Nowy powerbank o pojemności 30 000 mAh. Idealny w podróży. <br />
          </td>
          <td class="px-4 py-2 align-top">
            <hr />
            Zestaw eko-produktów do biura: bambusowy notes, długopis i kubek.
            <br />
          </td>
          <td class="px-4 py-2 align-top">
            <hr />
            Nasz najnowszy model smartfona <br />
          </td>
        </tr>
        <tr>
          <td class="px-4 py-2">
            <b> 150 zł</b> <br />
            <br />
            <x-button class="bg-black p-2 w-full" href="#">
              zobacz więcej
            </x-button>
          </td>
          <td class="px-4 py-2">
            <b> 89 zł</b><br />
            <br />
            <x-button class="bg-black p-2 w-full" href="#">
              zobacz więcej
            </x-button>
          </td>
          <td class="px-4 py-2">
            <b> 1999 zł</b><br />
            <br />
            <x-button class="bg-black p-2 w-full" href="#">
              zobacz więcej
            </x-button>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="py-4 bg-white">
      <table class="w-full">
        <tr>
          <td class="px-4 w-1/3">
            <a href="#">
              <img src="https://picsum.photos/300/200" class="w-[180px]" />
            </a>
          </td>
          <td class="px-4 w-1/3">
            <a href="#">
              <img src="https://picsum.photos/300/200" class="w-[180px]" />
            </a>
          </td>
          <td class="px-4 w-1/3">
            <a href="#">
              <img src="https://picsum.photos/300/200" class="w-[180px]" />
            </a>
          </td>
        </tr>

        <td class="px-4 py-2 text-center"><b>Mysz Komputerowa</b></td>
        <td class="px-4 py-2 text-center"><b>Głośnik bezprzewodowy</b></td>
        <td class="px-4 py-2 text-center"><b>Daj się zaskoczyć</b></td>
        <tr>
          <td class="px-4 py-2 align-top">
            <hr />
            Mysz komputerowa która nie tylko dobrze działą ale i świetnie wygląda <br />
          </td>
          <td class="px-4 py-2 align-top">
            <hr />
            Głośnik w stylu retro ze współczesnymi funkcjonalnościami, który daje soczyste brzmienie.
            <br />
          </td>
          <td class="px-4 py-2 align-top">
            <hr />
            Sprawdź czy możemy cię czymś zaskoczyć - może to coś o czym marzysz ? <br />
          </td>
        </tr>
        <tr>
          <td class="px-4 py-2">
            <b> 109zł</b> <br />
            <br />
            <x-button class="bg-black p-2 w-full" href="#">
              zobacz więcej
            </x-button>
          </td>
          <td class="px-4 py-2">
            <b> 369zł</b><br />
            <br />
            <x-button class="bg-black p-2 w-full" href="#">
              zobacz więcej
            </x-button>
          </td>
          <td class="px-4 py-2">
            <b> ? zł</b><br />
            <br />
            <x-button class="bg-black p-2 w-full" href="#">
              zobacz więcej
            </x-button>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
